@font-face {
    font-family: Ubuntu;
    src: url("../fonts/UbuntuMono-Regular.ttf") format("truetype");
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.infopanel_container {
    position: absolute;
    z-index: 100;
    top: 10px; left: 10px;
    background-color: #003851;
    border-radius: 0;
    box-shadow: inset 5px 5px 50px 1px #0072b1;
    border: 1px solid #fff;
    opacity: 0.6;
    font-family: "Ubuntu";
}

.infopanel,
.infopanel label,
.infopanel input {
    color: #fff;
    font-family: "Ubuntu";
    text-shadow: 1px 1px 10px #fff;
}

.infopanel {
    border: 1px solid #fff;
    box-shadow: inset 5px 5px 50px 1px #0072b1;
    margin: 10px;
    padding: 5px 10px;
}

.infopanel p {
    margin: 5px;
}

.infopanel label {
    width: 70px;
    margin: 5px;
}

/* Excluding radio */
.infopanel label.label-left {
    display: inline-block;
}

.infopanel input[type="radio"] {
    float: left;
    margin-right: 10px;
}

.infopanel input[type="number"] {
    border: 1px solid #fff;
    margin: 5px;
    background-color: #0072B1;
    padding: 3px;
}

#container-submit {
    text-align: right;
}

.infopanel input[type="button"] {
    border: 1px solid #fff;
    margin: 5px;
    background-color: #0072B1;
    padding: 3px 12px;
}

.infopanel input[type="button"]:hover {
    background-color: #fff;
    color: #0072B1;
}

.infopanel_row {
    display: flex;
    margin: 5px;
}

.infopanel_column {
    display: inline-block;
    width: 50%;
    margin: 0 5px 5px 5px;
}

.icon {
    display: inline-block;
    vertical-align: bottom;
    height: 1em;
    width: 1em;
}

.icon-clipboard {
    background: url("../images/clipboard_copy.svg") left top/100%;
    float: right;
}

.icon.clickable {
    cursor: pointer;
}

#modal {
    display: none;
    z-index: 200;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0072B1;
    opacity: 0.8;
}

#modal .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-32px, -32px);
    width: 64px;
    height: 64px;
    background-image: url("../images/spinner.gif");
    filter: invert(1.0)
}