@font-face {
    font-family: Ubuntu;
    src: url("../fonts/UbuntuMono-Regular.ttf") format("truetype");
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#infopanel_container {
    position: absolute;
    z-index: 100;
    top: 10px; left: 10px;
    background-color: #003851;
    border-radius: 0;
    box-shadow: inset 5px 5px 50px 1px #0072b1;
    border: 1px solid #fff;
    opacity: 0.6;
    font-family: "Ubuntu";
}

#infopanel_position,
#infopanel_container form label,
#infopanel_control form input[type="number"],
#infopanel_control form input[type="button"] {
    color: #fff;
    font-family: "Ubuntu";
    text-shadow: 1px 1px 10px #fff;
}

#infopanel_position, #infopanel_control {
    border: 1px solid #fff;
    box-shadow: inset 5px 5px 50px 1px #0072b1;
    margin: 10px;
    padding: 5px 10px;
}

#infopanel_position p {
    margin: 5px;
}

#infopanel_control form label {
    width: 70px;
    margin: 5px;
}

/* Excluding radio */
#infopanel_control form label.label-left {
    display: inline-block;
}

#infopanel_control form input[type="radio"] {
    float: left;
    margin-right: 10px;
}

#infopanel_control form input[type="number"] {
    border: 1px solid #fff;
    margin: 5px;
    background-color: #0072B1;
    padding: 3px;
}

#container-submit {
    text-align: right;
}

#infopanel_control form input[type="button"] {
    border: 1px solid #fff;
    margin: 5px;
    background-color: #0072B1;
    padding: 3px 12px;
}

#infopanel_control form input[type="button"]:hover {
    background-color: #fff;
    color: #0072B1;
}

.modal {
    display: none;
    z-index: 200;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0072B1;
    opacity: 0.8;
}

.modal .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    background-image: url("../images/spinner.gif");
    filter: invert(1.0)
}